/* INICIALIZANDO CSS */
/*IMPORTANDO FONTE GOOGLE */
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');

* { /* RESET CSS */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Public Sans', sans-serif;
}
body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}
header {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    background-color: white;
}
.header_box {
    width: 1360px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_box button {
    width: 12%;
    border: none;
    border-radius: 20px;
    padding: 15px 0;
    background-image: linear-gradient(270deg, #08AEEA 0%, #2AF598 99%);
    color: hsl(0, 0%, 98%);
    cursor: pointer;
    font-weight: bold;
}
nav {
    height: 100%;
    display: flex;
    align-items: center;
}
.navigation_links {
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 30px;
    text-decoration: none;
    color: hsl(233, 8%, 62%);
}
.navigation_links:hover {
    color: hsl(233, 26%, 24%);
}
main {
    width: 100%;
    height: 80%;
    background-color: hsl(0, 0%, 98%);
    display: flex;
    justify-content: center;
    background-image: url('../IMG/bg-intro-desktop.svg');
    background-repeat: no-repeat;
    background-position-x: 153%;
    background-position-y:78% ;
}
.main_section {
    width: 1360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.main_informations{
    width: 50%;
}
.main_informations button {
    width: 25%;
    border: none;
    border-radius: 20px;
    padding: 15px 0;
    background-image: linear-gradient(270deg, #08AEEA 0%, #2AF598 99%);
    color: hsl(0, 0%, 98%);
    cursor: pointer;
    font-weight: bold;
}
.main_title {
    font-size: 70px;
    font-weight: 400;
    color: hsl(233, 26%, 24%);
}
.main_paragraph{
    font-size: 20px;
    color: hsl(233, 8%, 62%);
    line-height: 28px;
    width: 75%;
    padding: 30px 0px;
}
aside {
    width: 100%;
    height: 80%;
    background-color: hsl(220, 16%, 96%);
    display: flex;
    justify-content: center;
    align-items: center;

}
.aside_title{
    font-size: 50px;
    font-weight: 400;
    color: hsl(233, 26%, 24%);
}
.aside_paragraph{
    font-size: 18px;
    color: hsl(233, 8%, 62%);
    width: 50%;
    padding: 25px 0;
    line-height: 28px;
}
.aside_section{
    width: 1360px;
}
.aside_informations{
    display: flex;
    margin-top: 40px;
    justify-content: space-between;
}
.aside_informations div {
    width: 20%;
}
.aside_informations div h3{
    padding: 25px 0;
    color: hsl(233, 26%, 24%);
    font-weight: 400;
    font-size: 25px;

}
.aside_informations div p {
    color: hsl(233, 8%, 62%);
    font-weight: 400;
    line-height: 25px;
    font-size: 17px;
}
article {
    width: 100%;
    height: 80%;
    background-color:hsl(0, 0%, 98%) ;
    display: flex;
    justify-content: center;
}
.article_section {
    display: flex;
    flex-direction: column;
    width: 1360px;
    height: 100%;
    justify-content: center;

}
.article_section h4{
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 50px;
}
.box_articles {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.box_articles div {
    width: 20%;
    background-color: white;
    border-radius: 5px;
}
.box_articles .box_info {
    width: 100%;
    padding: 30px 25px;
}
.box_info figcaption {
    margin-bottom: 15px;
    font-weight: 400;
}
.box_info h5 {
    font-size: 19px;
    font-weight: 400;
    color: hsl(233, 26%, 24%);
}
.box_info p {
    padding-top: 15px;
    color: hsl(233, 8%, 62%);
    font-weight: 400;
    font-size: 15px;
    justify-content: left;
}
.box_articles .currency {
    background-image: url('../IMG/image-currency.jpg');
    background-position: center;
    background-size: cover;
    height: 230px;
    border-radius: 5px;
}
.box_articles .restaurant {
    background-image: url('../IMG/image-restaurant.jpg');
    background-position: center;
    background-size: cover;
    height: 230px;
    border-radius: 5px;
}
.box_articles .plane {
    background-image: url('../IMG/image-plane.jpg');
    background-position: center;
    background-size: cover;
    height: 230px;
    border-radius: 5px;
}
.box_articles .confetti {
    background-image: url('../IMG/image-confetti.jpg');
    background-position: center;
    background-size: cover;
    height: 230px;
    border-radius: 5px;
}
figcaption {
    font-size: 13px;
    color: hsl(233, 8%, 62%);
    font-weight: 400;
}
footer{
    background-color: hsl(233, 26%, 24%);
    height: 30%;
    display: flex;
    justify-content: center;
}
.footer_section {
    width: 1360px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer_nav {
    width: 12%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.footer_nav figure {
    background-color: white;
    padding: 5px;
}
.footer_icons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.footer_links {
    width: 12%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

}
.footer_links a {
    font-weight: 400;
    color: hsl(0, 0%, 98%);
    text-decoration: none;
}
.footer_button {
    display: flex;
    flex-direction: column;
    height: 40%;
    width: 20%;
    justify-content: space-between;
    align-items: flex-end;
}
.footer_button button {
    width: 70%;
    border: none;
    border-radius: 20px;
    padding: 15px 0;
    background-image: linear-gradient(270deg, #08AEEA 0%, #2AF598 99%);
    color: hsl(0, 0%, 98%);
    cursor: pointer;
    font-weight: bold;
}
.footer_button span {
    color: hsl(233, 8%, 62%);
}
